<!DOCTYPE html>
<html lang="en" class="h-full bg-green-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
</head>

<body class="h-full">
    <!-- Navbar -->
    <nav class="bg-green-800 p-4">
        <div class="flex flex-shrink-0 text-center">
            <img class="h-8 w-8" src="https://cdn-icons-png.flaticon.com/512/2220/2220061.png" alt="Your Company">
            <a href="adminDashboard.html" class="rounded-md px-3 py-2 text-sm font-medium text-white focus:ring"
                aria-current="page">Green Life Inc.</a>


            <div class="container mx-auto flex justify-between items-center">
                <!-- Left links -->
                <ul class="flex space-x-4">
                    <li>
                        <a href="adminTreesView.html" class="text-white text-sm font-medium hover:text-green-200" >Manage Trees</a>
                    </li>
                   
                    <li>
                        <a href="species.html" class="text-white text-sm font-medium hover:text-green-200" >Manage Species</a>
                    </li>                                                        
                    <li>
                        <a href="adminUserView.html" class="text-white text-sm font-medium hover:text-green-200">Manage
                            Users</a>
                    </li>
                    <li>
                        <a href="test.html" class="text-white text-sm font-medium hover:text-green-200">Multer Test</a>
                          
                    </li>

                </ul>

                <!-- Right greeting NEED EDIT TO GET THE CORRECT ADMIN NAME-->
                <div class="text-sm text-white">
                    <?php if ($name): ?>
                    <span>Hello,
                        <?php echo $name; ?>
                    </span>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>